@charset "utf-8";

/* =====================
  footer
===================== */
footer {
  background: #242424;
  color: #b1b8be ;
  text-align: center;
  padding: 70px 0;

  .snsicon-wrapper {
    display: flex;
    justify-content: center;
    
    li {
      margin: 0 10px;

      i {
        font-size: 1.2rem;
         color: #b1b8be;
         background-color: rgba(241, 241, 241, 0.08);
         border-radius: 50%;
         height: 42px;
         width: 42px;
         line-height: 42px;
      }
    }
  }
  p {
    margin-bottom: 0;
  }
  small {
    font-size: 1rem;
  }
}